{% extends "layout.html" %}

{% block body %}
{% load crispy_forms_tags %}
    <div class="row justify-content-md-center">
    <h3>UPDATE ARTICLE</h3>
    </div>
    <div class="row justify-content-md-center">
        

        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form |crispy}} <!-- to use crispy forms -->
            <br>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

{% endblock body %}
